{% extends 'inventory__webapp/base.html'%}
{% block header%}
<!-- Header -->
<div class="header">
    <div class="header__left">
        <a href="#" class="logo">Ims</a>
    </div>
    <div class="header__right">

        <a href="#">Change Password,</a>
        <a href="#">Logout</a>
    </div>
</div>
<!-- end Header -->
{% endblock %}

{% block content%}
<!-- sideBar and mainContent -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">

            <div class="sidebar__profiles">
                <span style="font-size: 3em; color: white;">
                    <i class="fa fa-user-circle"></i>
                </span>
                <div class="profile">
                    <a href="" class="welcome">Welcome,</a>
                    <a href="" class=""><strong>Saquib.</strong></a>
                </div>
            </div>

            <div class="sidebar__content">
                <a href="#">Dashboard</a>
                <a href="#" class="show__purchase__record">Purchase</a>
                <a href="#" class="purchase__return">Purchase_Return</a>
                <a href="#">Supplier</a>
                <a href="#">Sales</a>
                <a href="#">Sales_Report</a>
                <a href="#">Customer</a>
                <a href="#" class="stock_link">Stock</a>
            </div>



        </div>
        <div class="col-md-10 main">
            <div class="sec1">
                <div class=" shadow-sm purchase">
                    <p class="card__item">Purchases Product</p>
                    <p href="#">100</p>
                </div>
                <div class="shadow-sm purchase_report">
                    <p class="card__item">Purchase Report</p>
                    <p href="#">100</p>
                </div>
                <div class=" shadow-sm supplier">
                    <p class="card__item">Supplier</p>
                    <p href="#">100</p>
                </div>
            </div>

            <div class="sec2">
                <div class=" shadow-sm  sales">
                    <p class="card__item">Sales</p>
                    <p href="#">100</p>
                </div>
                <div class="shadow-sm sales_report">
                    <p class="card__item">Sales Report</p>
                    <p href="#">100</p>
                </div>
                <div class="shadow-sm customer">
                    <p class="card__item">Customer</p>
                    <p href="#">100</p>
                </div>




            </div>
            <div class="sec3">
                <div class="shadow-sm  stock">
                    <p class="card__item">Stock</p>
                    <p href="#">100</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end sideBar and mainContent -->

<!-- Modal for purchase product -->


<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Purchase Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>

<!-- end modal -->

<script>
    $(function(){
        $('.stock_link').click(function(){
            $.ajax({
                url:'/inventory__webapp/stock/',
                type:'get',
                dataType:'json',
                success(response){
                    if(response.status=='ok'){
                        $('.main').html(response.stock)
                    }
                }
            })
        })
    })
    
    
    // purchase return page call 
    $(function(){
        $('.purchase__return').click(function(){
            $.ajax({
                url:'/inventory__webapp/PurchaseReturnContainer/',
                type:'get',
                dataType:'json',
                success(response){
                    if(response.status=='ok'){
                        $('.main').html(response.purchasereturn)
                    }
                }
            })
        })
    }) 
</script>
{% endblock%}